<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h3>Customer</h3>
                </div>
            </div>
        </div>
    </div>
    <app-search></app-search>
</div>