<div class="row mt-4">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body text-center">
                <h5>Postcode Search</h5>
                <form>
                    <div class="input-group input-group-lg mb-3">
                        <label for="userName" style="text-transform:uppercase"></label>
                        <input type="text" class="form-control text-center" name="postcode" placeholder="Insert Postcode here" [(ngModel)]="postcode">
                    </div>
                    <div class="form-group">
                        <div class="d-grid gap-2">
                        <button type="button" class= "btn btn-primary" (click)="getSearchData()">Search</button>
                        </div>
                    </div>
                </form>
                    <br>
                    <div> {{ dist_km }}</div>
                    <div> {{ dist_mi }}</div>
                    <br>
                    <div *ngFor="let data of searches">
                        <div> {{ data | json }} </div>
                    </div>
                
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body text-center">
                <h5>Search History</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>#</td>
                            <td>POSTCODE</td>
                            <td>TIMESTAMP</td>
                        </tr>
                        <tr *ngFor="let search of searchHistory">
                            <td>{{ search.searchId }}</td>
                            <td>{{ search.postcode }}</td>
                            <td>{{ search.timestamp }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>